
{% extends "blog/base.html" %}

{% block content %}
    <div>
        <h1>Home Page</h1>
        <div>
            {% for post in posts %}
                <article class="media content-section">
                    <div class="media-body">
                        <div class="article-metadata">
                            <h4>
                                <a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a>
                            </h4>
                            <p class="article-content">{{ post.content }}</p>
                        </div>
                        <div>
                          <a href="#">{{ post.author }}</a>
                          <small class="text-muted">{{ post.date|date:"d F Y" }}</small>
                        </div>
                    </div>
                </article>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
